<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/6767b0ab9c.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>

    <!-- Styling for social buttons-->
    <link rel="stylesheet" href="/css/bootstrap-social.css">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/signInStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    

</head>





