<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="css/styles.css">
    
    <header>
      
        <h1 class="quote">"What you can measure you can control"</h1>

        <div class="dropdown">
            <button class="dropbtn">Lists</button>
            <div class="dropdown-content">
              <a href="#">Work</a>
              <a href="#">Study</a>
              <a href="#">Home</a>
            </div>
        </div>
    </header>

</head>
<body>

    <div class="list-body">
        <div class="list-title">
            <p>Aug 04</p>
        </div>
        

        <div class="list-content">

            <div class="item-list">
                <ul>
                    <li>itemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitemitem</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>

                </ul>
            </div>

            <form class="add-item-input" action="">
                <input type="text" placeholder="Add Item">
                <button type="submit">+</button>
            </form>

        </div>
    </div>



    <footer>
        <p>Made with ♥ by Genesis Bell</p>
        <p>Copyright © <script>document.write(new Date().getFullYear())</script></p>
    </footer>

</body>
</html>