<%- include("partials/header")  -%> 
<body>
    <div class="home-page">
        <h1 class="main-title">To Do List</h1>

        <div>
            <a href="/login">
                <div class="home-btn">Login</div>
            </a>

            <a href="/register">
                <div class="home-btn r">Register</div>
            </a>            
        </div>
    </div>
    



<%- include("partials/footer")  -%> 